<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Blog Page</title>

</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Create a New Blog Page</h1>
    <% if (message) { %>
        <p style="color: red;">
            <%= Error %>
        </p>
        <% } %>
    <form action="/miloBlogs" method="POST">
        <label for="name">Title:</label>
        <input type="text" id="name" name="name" required />

        <label for="content">Content:</label>
        <textarea placeholder="enter Blog info here!" id="content" name="content" required></textarea>

        <label for="isReadyToPost">Ready to Post!</label>
        <input type="checkbox" id="isReadyToPost" name="isReadyToPost" />


        <button type="submit">Add Blog Post!</button>
    </form>

</body>

</html>